
<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org"><!-- Basic -->

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>FOT-Canteen</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="indexassets/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="indexassets/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="indexassets/css/bootstrap.min.css">
	<!-- Site CSS -->
    <link rel="stylesheet" href="indexassets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="indexassets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="indexassets/css/custom.css">
</head>

<body class="bg-default" bgcolor="#62568">

  <!-- <div style="background-image: url('images/img-08.jpg');">
 -->
  <!-- Navbar -->
 <header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="indexassets/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{login}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{register}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{profile}" >My Account</a></li>
						
					</ul>
				</div>
			</div>
		</nav>
	</header>
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Create an account</h1>
              <p class="text-lead text-white"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center col-lg-8">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                Sign up with credentials
              </div>
              <form method="post" th:object="${createUserController}" th:action="@{/AddNewUserService}">
                <div class="form-group ">
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name" type="text" required th:field="*{user_name}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                   <select class="form-select" saria-label="Default select example" th:field="*{user_position}" >
  					<option value="Lecturer">Lecturer</option>
 					<option value="Student">Student</option>
  					<option value="Academic">Academic</option>
  					<option value="Non-Academic">Non-Academic</option>
					</select>
				</div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" required th:field="*{email}">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" required th:field="*{password}">
                  </div>
                </div>
                    <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>
                            <input class="form-control" placeholder="Mobile" type="number" required th:field="*{user_mobile}">
                        </div>
                    </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">Create account</button>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  
  <!-- Argon Scripts -->
 <!-- ALL JS FILES -->
	<script src="indexassets/js/jquery-3.2.1.min.js"></script>
	<script src="indexassets/js/popper.min.js"></script>
	<script src="indexassets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="indexassets/js/jquery.superslides.min.js"></script>
	<script src="indexassets/js/images-loded.min.js"></script>
	<script src="indexassets/js/isotope.min.js"></script>
	<script src="indexassets/js/baguetteBox.min.js"></script>
	<script src="indexassets/js/form-validator.min.js"></script>
    <script src="indexassets/js/contact-form-script.js"></script>
    <script src="indexassets/js/custom.js"></script>
</body>

</html>